PORT = 8000

# JWT token Configuration
JWT_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2NTgwMGFkYmR
JWT_EXPIRES_IN=7d
SALT_ROUNDS=10

# HOSTED-DB---->>>> PostgreSQL Database connection configuration(Postgres Server Name: Dna-Server)
DB_USERNAME=postgres
DB_PASSWORD="Qawsed@#$3"
DB_DATABASE=MED-Db
DB_HOST=localhost
DB_PORT=5432
DB_DIALECT=postgres